{% if not user.is_authenticated %}
    <div class="header-nav">
        <ul class="header-nav__list">
            <li class="header-nav__item"><a href="{% url 'login' %}" class="header-nav__link">Вход</a></li>
            <li class="header-nav__item"><a href="{% url 'register' %}" class="header-nav__link">Регистрация</a></li>
        </ul>
    </div>
{% else %}
    <div class="header-nav ">
        <ul class="header-nav__list">
            <li class="header-nav__item"><a href="{% url 'logout' %}">Выход</a></li>
            <li class="header-nav__item hide-block"><a href="{% url 'logout' %}"></a></li>
        </ul>
    </div>
{% endif %}